@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, body * {
  box-sizing:border-box;
}
h2 {
  color: white;
  font-size: 40px;
  letter-spacing: -3px;
  cursor: default;
  position: absolute;
  top: 73px;
  left: 700px;
  transform: translate(-50%, -100%);
  font-family: 'Press Start 2P', cursive;

}
.GUI_img{
  width : 4%;
  height: auto;
  cursor: default;
  position: relative;
  top: 140px;
  left: 150px;
}
.superShadow2 {
  text-shadow:     0 1px 0 hsl(11,0%,0%),
	                 0 2px 0 hsl(11,0%,0%),
	                 0 3px 0 hsl(11,0%,0%),
	                 0 4px 0 hsl(11,0%,0%),
	                 0 5px 0 hsl(11,0%,0%),
	                 0 6px 0 hsl(11,0%,0%),
	                 0 7px 0 hsl(11,0%,0%),
	                 0 8px 0 hsl(11,0%,0%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

img {
}

#imgIcons {
  width : 4%;
  height: auto;
  cursor: default;
  position: relative;
  top: 140px;
  left: 150px;
}

#imgPos {
  display: block;
  width : auto;
  height: auto;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
}


t {
  color: #666;
  font-size: 10px;
  letter-spacing: -3px;
  cursor: pointer;
  position: relative;
  top: 120px;
  left: 160px;
  font-family: 'Press Start 2P', cursive;
}

t1 {
  color: #666;
  font-size: 10px;
  letter-spacing: -3px;
  cursor: pointer;
  position: relative;
  top: 120px;
  left: 160px;
  font-family: 'Press Start 2P', cursive;
}
#rectangleText{
  top: 154px;
  left: 323px;
  position: absolute;
  cursor: auto;
  color: #666;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
}
#grid {
  top: 180px;
  left: 350px;
  position: absolute;
  cursor: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

#rectangle {
  width: 750px;
  height: 37px;
  border: 4px solid #666;
  top: 171px;
  left: 320px;
  position: absolute;
}

#choc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 240px;
  left: 340px;
  position: absolute;
  color: normal_color;
  cursor: default;
}

}
#choc > div{
  position: absolute;
  width:50px;
  display:block;
}

#choc > div > #imgPos{
  float: left;
  float: right;
  clear:none;
  width:50px;
  display: inline-block;
}
